.progress {
  margin: 0;
}

.brand-logo {
  margin-left: 10px;
}

.control-block {
  height: 60px;
}

.control-block #volume {
  width: 20%;
  float: left;
}

.control-block .controls {
  float: right;
}

#videoTitle {
  text-align: center;
}

.music_note {
  height: 390px;
}

.hidden {
  display: none;
}